<div class="container">
  <div class="row mt-5">

    <div class="col-6">

      <div><canvas id="money_chart"></canvas></div>

    </div>


    <div class="col-6">


      <div class="row">

        <div class="col-6">

          <div class="">
            <div class="card-scroll">



              <table class="table table-bordered table-rounded text-center table-hover">
                <thead>
                  <tr class="table-active">
                    <th>#</th>
                    <th>Cantidad</th>
                  </tr>
                </thead>
                <tbody>

                  <%let indice = 0%>
                  <%for (let cantidad of amount){%>
                  <tr>
                    <td><%- indice++%></td>
                    <td> <%- cantidad.deposit%> </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>



            </div>
          </div>


        </div>


        <div class="col-6">

          <div class="card">

            <div class="card-body text-center">

              <h1 class="card-title">
                $<%-amount[0].amount%>
              </h1>


              <button type="button" data-bs-toggle="modal" data-bs-target="#addMoneyModal" class="btn btn-success <%- (amount[0].amount > 0 ? 'col-5' : 'col-12') %>"> <i class="bi bi-plus"></i></button>



              <% if (amount[0].amount > 0) { %>
              <button type="button" data-bs-toggle="modal" data-bs-target="#subtMoneyModal" class="btn btn-danger col-5"><i class="bi bi-dash"></i></button>
              <%}%>


        </div>

      </div>

        </div>
      

      </div>


    </div>



  </div>
</div>


<%- include('add_money_modal.ejs', {id_user_from_amout: amount[0].id_user}); %> <%- include('subt_money_modal.ejs', {id_user_from_amout: amount[0].id_user}); %>